<!doctype html>
<title>#AstroPointer</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/html5shiv.js') }}"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}" />
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/ie9.css') }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/ie8.css') }}" /><![endif]-->

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/ie9.css') }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/ie8.css') }}" /><![endif]-->

<body class="landing">
<div id="page-wrapper">
    <section id="banner">
        <div class="content">
            <header>
              <h2>#AstroPointer</h2>
              <p>Choose your object and look where the arrow is pointing.</p>
              {% block body %}{% endblock %}
            </header>
            <span class="image"><img src="{{ url_for('static', filename='images/astropointer_sketch.jpg') }}" alt="" /></span>
        </div>
    </section>
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; James Gilbert, Pascal Jahan Elahi, Kieran Leschinski, Simon Mutch, and Dany Vohl. All rights reserved.</li>
            <li><a href="http://dotastronomy.com/events/seven/">.Astronomy7</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<!--[if lte IE 8]><script type="text/javascript" src="{{ url_for('static', filename='assets/js/ie/respond.min.js') }}"></script><![endif]-->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script>
$("#toggle").click(function() {
  $("#object_textbox").toggle( "slow" );
  $("#object_list").toggle( "slow" );
  console.log("a: ");
  console.log($("#toggle").text);
  if ($("#temp").val() == "List"){
    $("#temp").val("Type");
    $("#toggle").text("I want to select from list");
  }
  else {
    $("#temp").val("List");
    $("#toggle").text("I want to type something in");
  }
});
</script>

</body>